<!-- <div class="container mt-3">
  <div class="card" style="padding: 12%;">
    <form #loginForm="ngForm" (ngSubmit) = "login(loginForm)">
      <div class="form-group mb-3">
        <label> Email</label>
        <input class="form-control" type="email" ngModel name="email" id="email" placeholder="Nhập email">
      </div>
      <div class="form-group mb-3">
        <label> Mật khẩu</label>
        <input class="form-control" type="password" ngModel name="password" id="password" placeholder="Nhập mật khẩu">
      </div>

      <div class="text-center">
        <button class ="btn btn-success" type="submit">Đăng nhập</button>
      </div>

    </form>
  </div>
  <div id="toast_default_target">
  </div>
</div> -->

<div class="container-fluid vh-100" style="background-color: rgb(136, 172, 233);">
  <div class="row bg-primary header">
    <div class="col-2 d-flex align-items-center">
      <a class="home-logo" routerLink="/home"> HNLBOOK </a>
    </div>

    <div class="col-2 d-flex align-items-center">
      <div class="title mt-1" style="color: white"> Đăng nhập </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center login-page">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
        class="img-fluid" alt="Sample image">
    </div>

    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 login-form">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3"> Đăng nhập với </p>

          <div class="icon">
            <i class="fab fa-facebook-f"></i>
          </div>

          <div class="icon">
            <i class="fab fa-twitter"></i>
          </div>

          <div class="icon">
            <i class="fab fa-linkedin-in"></i>
          </div>

          <div class="icon">
            <i class="fab fa-google"></i>
          </div>
        </div>

        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0 text-secondary"> HOẶC </p>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" type="email" ngModel name="email" id="email" class="form-control form-control-lg"
            placeholder="Email" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input type="password" ngModel name="password" id="password" class="form-control form-control-lg"
            placeholder="Mật khẩu" />
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <!-- Checkbox -->
          <div class="form-check mb-0">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
              Lưu mật khẩu
            </label>
          </div>
          <a href="#!" class="no-underline" style="color: rgb(0, 89, 243)"> Quên mật khẩu? </a>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn btn-success btn-lg" style="width:100%">
            Đăng nhập
          </button>
          <p class="small fw-bold mt-3 pt-1 mb-0 text-center"> Bạn chưa có tài khoản? 
            <a class="link-danger no-underline" routerLink="/signup"> Đăng ký </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
