<div class="container-fluid">
    <h2 class="text-center" style="margin-top: 2%;"> Thêm nhà xuất bản </h2>
  
    <div class="container" style="padding-top: 2%; padding-bottom: 4%; padding-left: 25%; padding-right: 25%;">
        <form (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 90px"> Tên </span>
                <input type="text" class="form-control" [(ngModel)]="publisher.name" name="name" id="name" placeholder="Nhập tên nhà xuất bản">
            </div>
    
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 90px"> Quốc gia </span>
                <input type="text" class="form-control" [(ngModel)]="publisher.country" name="country" id="country" placeholder="Nhập quốc gia của nhà xuất bản">
            </div>
    
            <div class="text-center" style="margin-top: 30px; margin-bottom: 40px;">
                <button class="btn btn-success" type="submit" style="padding-top: 10px; padding-bottom: 10px; padding-left: 50px; padding-right: 50px;"> Thêm </button>
            </div>
        </form>
    </div>
</div>
  